<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron my-4 text-center">
        <h1 class="display-3">Browse Public Wikis</h1>
        <% if(currentUser.role === "member") { %>
          <a href="/wikis/new" class="btn text-secondary">Create a New Public Wiki for Free</a>
        <% } else if (currentUser.role === "premium" || currentUser.role === "admin") { %>
          <a href="/wikis/new" class="btn text-secondary">Create a New Public Wiki for Free</a>
          <a href="/wikis/newPrivate" class="btn text-secondary">Or Create a New Private Wiki</a>
        <% } else { %>
          <p> Sign in or sign up to edit wikis </p>
        <% } %>
      </header>


        <% wikis.forEach((wiki) => { %>
             <div class="card border-secondary mb-3" style="margin:1.5em;">
               <div class="card-body">
                 <h5 class="card-title"><%= wiki.title %></h5>
                 <a href="/wikis/<%= wiki.id %>" class="btn btn-info">Check it out!</a>
               </div>
             </div>
        <% }) %>

    </main>
  </body>
</html>
