<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>Add a Collaborator!</h1>
      <form action="/wikis/<%= wiki.title %>/addCollab" method="post">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small class="text-muted" id="emailHelp">email address must be a valid address</small>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <section class="col-lg-8">

        <div class="card m-1">
          <div class="card-header">
            This Wiki's Collaborators
          </div>
          <ul class="list-group list-group-flush">
            <% if(collaborations) { %>
              <% collaborations.forEach((collaborator) => { %>
                <li class="list-group-item">
                    <%= collaborator.userId %>
                </li>
              <% }) %>
            <% } %>
          </ul>
        </div>

      </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
