<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <header class="jumbotron my-4 text-center">
      <h1 class="display-3">About Node Wiki</h1>
      <p class="lead">An application for users to create and share wikis.</p>
    </header>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
